<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>19/01/07 14:09:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(org.testng.ITestContext)[pri:0, instance:scripts.ReadInputFile@cc285f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1883666498</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/01/07 14:09:21</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBrowser(java.lang.String)[pri:0, instance:scripts.ReadInputFile@cc285f4]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1883666498</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>19/01/07 14:09:25</td>   <td>4011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadInputFile.readInputFile()[pri:0, instance:scripts.ReadInputFile@cc285f4]">readInputFile</td> 
  <td>TestNG@1883666498</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/01/07 14:51:25</td>   <td>2524235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:scripts.ReadInputFile@cc285f4]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1883666498</td>   <td></td> </tr>
</table>
